@model IEnumerable<LocalBetBiga.Models.Entities.ManagerEquipmentDistribution>

 @{ Layout = "_ManagerDashboardLayout";
                     } 


<!DOCTYPE html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - InventorySystem</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>

@{ ViewData["Title"] = "Title"; }

<div class="text-center " style="margin-top: 50px">
    <h2 class="text-primary">Activity List</h2>
</div>

@if (Model.Count() > 0)
{

    <div class="container">
        <table class="table">
            <thead>
                <tr>
                    <th>Equipment Type</th>
                    <th>Equipment Brand</th>
                    <th>Agent Name</th>
                    <th>Number Of Equipment Assigned</th>
                    <th>Agent Shop Address</th>
                    <th>Date Assigned</th>

                </tr>
            </thead>
            <tbody>
                @foreach (var obj in Model)
                {
                <tr>
                    <td>@obj.Equipment.EquipmentType</td>
                    <td>@obj.Equipment.Brand</td>
                    <td>@obj.NameOfAgentAssignedTo</td>
                    <td>@obj.NumberOfEquipmentAssigned</td>
                    <td>@obj.ShopAddress</td>
                    <td>@obj.DateAssigned</td>



                </tr>

                }
            </tbody>
        </table>
    </div>


    <div class="text-center">

        <div class="card-footer foots">
            <div class="form-group">
                <a asp-action="ExportToExcel" class="btn btn-success">
                    Export
                </a>
            </div>
        </div>
    </div>


}
else
{
    <p> Oops No Activity  Yet</p>
}



